.bath-styles-page {
  grid-gap:0;
}

.bsp-header {
  @extend .default-width-content;
  text-transform: uppercase;

}

.bsp-h-top {
  font-size: $font-size-medium;
  color: rgb(74, 74, 74);
}

.bsp-h-middle {
  text-align: center;
  font-size: $font-size-big;
  text-decoration: underline;
  line-height: 150%;
  font-weight: 600;
  color: $brown;
}

.bsp-h-bottom {
  display: flex;
  justify-content: space-evenly;
  margin: 0 10%;
  font-size: $font-size-medium;
  font-weight: 600;
}

.bsp-h-toggle-binding{
  color: $grey;
  text-decoration: underline;
  border: 1px solid transparent;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  cursor:pointer;
}
.bsp-h-toggle-binding:hover{
  text-decoration: none;
}
.bsp-h-toggle-binding_active{
  text-decoration:none;
  border-color: $grey;
}

.bsp-h-bottom-end-icon{
  fill:$grey;
}

.bsp-h-bottom-end {
  font-size: $font-size-medium;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: .5rem;
  display:grid;
  grid-auto-flow: column;
  grid-gap: 0.5rem;
  justify-content: center;
}

//Слайдер
.bsp-sliders {
  position: relative;
  width: 100%;
  display: grid;
  justify-items: center;
}

.bsp-s-top-line {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
  position: absolute;
  top: 1rem;
  color: #fff;
  font-size: $font-size-medium;
  text-transform: uppercase;
  align-items: center;
}

.bsp-s-previous, .bsp-s-next {
  background: rgba(173, 173, 173, 0.5);
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
  align-content: center;
  fill:$white;
}

.bsp-s-previous {
  padding: 0rem .55rem 0rem .5rem;
}

.bsp-s-next {
  padding: 0rem .5rem 0rem .55rem;
}

.bsp-s-previous:hover, .bsp-s-next:hover {
  cursor: pointer;
  background: rgba(173, 173, 173, 1);
}

.bsp-s-current-title {
}


.bsp-s-current-image {
  width: 100%;
}

.bsp-s-current-image img {
  width: 100%;
}

.bsp-s-current-description-wrap {
  position: absolute;
  top: 55%;
  transition: .5s;
  color: #fff;
  background: rgba(25, 25, 25, .75);
  max-width: 75%;
  padding: .25rem .5rem;
}

.bsp-s-current-description-title {
  display: flex;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase
}

.bsp-s-title-icon-toggle {
  margin: 0 .5rem;
  fill:$white;
}

.bsp-s-current-description-text {
}

//хлебные крошки
.bath-styles-page .breadcrumbs-wrap{
  margin:1rem auto;
}

//товары
.bsp-products-group{
  @extend .default-width-content;
  margin-bottom:2rem;
}
.bsp-products-wrap{
  display:grid;
  //justify-content:center;
  //grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap:1rem;
  .product-card{
    margin-right:1rem;

  }
}

