.header-page {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  transition: .5s;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;

  a, .link {
    text-decoration: none;
  }

  @include lg() {

  }
}

.header-page_mobile, .header-page_tablet {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header-wrap {
  position: relative;
  background: $grey;
}

.header-wrap::after {
  position: absolute;
  content: '';
  z-index: 1;
  bottom: 5px;
  width: 100%;
  border: 1px solid $yellow;
}


.header-content {
  @extend .default-width-content;
  display: grid;
  //grid-template-areas: "h-logo h-catalog h-links h-search h-icon";
  //grid-template-columns: 13rem repeat(2, auto) 1fr auto;
  grid-template-areas: "h-logo h-catalog h-links h-toggle-style h-search h-icon";
  grid-template-columns: 13rem repeat(3, auto) 1fr auto;
  grid-gap: $margin-default;
  position: relative;
  justify-content: start;
  align-items: center;
  padding: 0.25rem 0 calc(0.25rem + 7px);
  transition:.5s;
  @include lg() {

  }
}

.header-content_mobile, .header-content_tablet {
  grid-template-areas: "h-logo h-search h-catalog h-icon";
  grid-template-columns: 1fr repeat(3, auto);
  grid-gap: 1rem;
}


.style-binding-wrapper{
  display: grid;
  justify-content: center;
  color: white;
  text-transform: uppercase;
}

.header-logo {
  grid-area: h-logo;
  position: fixed;
  top:0;
  z-index: 2;

  img {
    transition:.5s;
    width: 12rem;
    @extends .border-radius;
    @include box-shadow();
  }

  @include lg() {

  }
}

.header-logo_mobile {
  margin-top: -1.5rem;
  margin-bottom: -2rem;
  img {
    width: auto;
    height: 8vh;
  }
}

.header-logo_tablet {
  margin-top: -1rem;
  margin-bottom: -1.5rem;
  img {
    width: auto;
    height: 8vh;
  }
}

//992px;
@include lg() {

}

//1200px;
@include xl() {

}

//1400px;
@include xxl() {

}


.header-page_fixed {
  position: fixed;
  top: 0;
  background: $grey;
  box-shadow: 0 0 5px $grey;
  // new
  padding-top:0;
  padding-bottom: 0;
  transition: .5s;
  .header-logo img{

  }
  .header-content{

  }
}

.header-toggle-style{
  grid-area: h-toggle-style;
  display: grid;
  grid-auto-flow: column;
  grid-gap:.25rem;
  align-items: center;
  align-content: center;
  justify-content: center;
  border: 1px solid $yellow;
  border-radius: 5px;
  padding: 0 .25rem;
}
.header-toggle-style-text-label{
  color:$white;
}
.header-toggle-style-text-label-active{
  color:$yellow;
}


.header-links-block {
  display: none;
  grid-area: h-links;
  z-index: 1;
  @include lg() {
    display: block;
  }
}

.header-link-enter {
  display: grid;
  align-items: center;
  color: $yellow;

}

.header-link-enter:hover {
  color: $white;
}

.header-catalog {
  grid-area: h-catalog;
  z-index: 2;
}

.header-search-block {
  grid-area: h-search;
  display: grid;
  grid-gap: $margin-default;
  z-index: 2;
  justify-self: end;
}

.header-search-block:focus-within {
  justify-self: stretch;
}

.header-icon-block {
  grid-area: h-icon;
  z-index: 2;
  fill: $yellow;
  justify-self: end;
  display: grid;
  grid-auto-flow: column;
  grid-gap: $margin-default;
}

.header-icon-compare-wrap {
  position: relative;
  display: grid;
  align-items: center;
}

.header-icon-cart-wrap {
  position: relative;
  display: grid;
  align-items: center;
}

.header-icon-cart-wrap.header-icon-label-full::after {
  position: absolute;
  content: '';
  background: $red;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  top: 3px;
  left: calc(100% - 10px);
  border: 1px solid $grey;
}

.header-icon-cart-wrap:hover.header-icon-label-full::after {
  background: $red;
}

.header-icon-compare {
  cursor: pointer;
  fill: $yellow;
}

.header-icon-compare-full .fil1 {
  fill: $red;
}

.header-icon-compare:hover {
  cursor: pointer;
  fill: $white;
}

.header-icon-cart {
  fill: $yellow;
}

.header-icon-cart:hover {
  cursor: pointer;
  fill: $white;
}

// ссылки в шапке
.header-link-order-form {
  text-transform: uppercase;
  color: $yellow;
}

.header-link-order-form:hover {
  color: $yellow;
  text-shadow: 0 0 5px $yellow;
  text-decoration: none;
}

.h-link {
  text-transform: uppercase;
  color: $white;
  cursor: pointer;
  text-decoration: none;
}

.h-link:hover {
  color: $white;
  text-shadow: 0 0 5px $white;
  text-decoration: none;
}

//меню каталога
.h-catalog-link {
  position: relative;
}

.h-catalog-link-caret {
  display: none;
  position: absolute;
  left: calc(50% - .25rem);
  bottom: -.7rem;
  z-index: 10
}

.header-catalog:hover .h-catalog-link-caret {
  display: block;
}

.header-catalog:hover:not(.header-catalog_mobile) .h-catalog {
  display: flex;
}

//Каталог
.h-catalog {
  position: absolute;
  left: 0;
  right: 0;
  display: none;
  flex-wrap: wrap;
  background: $white;
  padding: 0 1rem;
  box-shadow: 0 0 5px;
  border-radius: 4px;
}

.h-catalog-open{
  display: flex;
}

.h-catalog-group {
  margin: 1rem;
}

.h-catalog-link-main {

  display: block;
  width: 100%;
  white-space: nowrap;
  color: $grey;
  font-weight: 700;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid $grey-light;
}

.h-catalog-link-main:hover {
  color: $yellow;
  text-decoration: none;
}

.h-catalog-child-group {
  display: grid;
}

.h-catalog-link-child {
  display: grid;
  grid-auto-flow: column;
  grid-gap: .25rem;
  justify-content: start;
  color: $grey-light;
}

.h-catalog-link-child:hover {
  color: $yellow;
  text-decoration: underline
}

.h-icon-link-child {
  font-size: 80%;
}


//блок меню страниц и стилей бань
//ссылки меню
.hlb-links {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1.15rem;
}

//меню стилей
.hlb-menu-style {
  color: $white;

  .menu-style-item {
    width: 100%;
  }
}

.hlb-menu-style-btn {
  fill: $white;
}

.menu-style-item {
  text-transform: uppercase;
  text-align: center;
}

.menu-style-item:hover {
  cursor: pointer;
  text-shadow: 0 0 5px $white;
  text-decoration: none;
}


//search-block
.search-autocomplete.hs-block {

}

.search-autocomplete-input-wrap.hs-block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.input_text.hs-block {
  outline: none;
  background: none;
  border: none;
  color: $grey-light;
  width: 9.5rem;
  padding: .25rem 1.5rem .25rem .5rem;
  @extends .border-radius;
}

.input_text.hs-block:focus, .input_text.hs-block:active {
  outline: none;
  color: #fff;
  border: none;
  border-bottom: 1px solid $grey-middle;
  background: $grey-middle;
  width: 100%;
}

.input_text.hs-block:focus + svg.icon-input-search.hs-block {
  fill: $white;

}

svg.icon-input-search.hs-block {
  transition: .5s;
  fill: $grey-middle;
  margin-left: -1.5rem;

}

.found-values.hs-block {
  @extends .border-radius;
  @include box-shadow();
}

.h-fixed-second-line {
  color: $white;
  text-transform: uppercase;
  padding-bottom:.25rem;
}


.breadcrumb-wrap {
  @extend .default-width-content;
}

