.catalog-wrap{
 @extend .default-width-content;
}

.catalog-products{
  display:grid;
  justify-content:center;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap:1rem;
}
.catalog-products-big{
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}