.product-page{
  @extend .default-width-content;
}
.pp-wrap{

}
.pp-name{
  text-align: center;
}

.pp-details-wrap{
  display: grid;
  grid-template-areas: "pp-images pp-price-act" "pp-images pp-spec-desc" "pp-images pp-images-thumb";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  grid-gap:1rem;
  align-items: start;
}
@media (min-width: 1400px) {
  .pp-details-wrap{
    grid-template-areas: "pp-spec-desc pp-images pp-price-act""pp-images-thumb pp-images pp-price-act";
    grid-template-columns: 1fr 1.3fr 1fr;
    grid-template-rows: auto 1fr;
    grid-gap:1rem;
  }
}

//pp-spec-desc
.pp-spec-desc{
  grid-area: pp-spec-desc;
  display: grid;
  grid-gap:2rem;
}

.pp-spec-wrap {

}
.pp-spec-desc-title {
  text-decoration: underline;
  margin-bottom:.5rem;
}
.pp-spec-item {
  display:grid;
  grid-template-columns: repeat(2,auto);
  justify-content: start;
  grid-gap:1rem;
}
.pp-spec-item-name {
}
.pp-spec-item-val {
}

//pp-images
.pp-images{
  grid-area:pp-images;
  display: grid;
  grid-gap:.25rem;
}
.pp-image-main{
  @extend .box-shadow-light;
  width:100%;
}

.pp-thumbs-wrap {
  grid-area: pp-images-thumb;
  margin:unset;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  justify-content: start;
  grid-gap: .5rem;
}

.pp-image-thumb {
  width:100%;
  @extend .border-radius;
}
.pp-image-thumb:hover {
  @extend .box-shadow-light;
}

//pp-price-act
.pp-price-act{
  grid-area:pp-price-act;
  display: grid;
  grid-gap:2rem;
}

.pp-act {
  display: grid;
  grid-gap:1rem;
  grid-auto-flow: column;
}

.price-wrap {
  font-weight:700;
  display: grid;

  justify-content: center;
  align-items: end;
  grid-gap:.5rem

}
.pp-discounts {
  display: grid;
  justify-content: center;
}
.pp-price {
  font-size:1.8rem;
}
.pp-price-old {
  margin-top:-1.5rem;
  color:rgb(173,173,173);
  font-size:1.8rem;
  text-decoration: line-through;
}

//related products
.pp-related-wrap{

}