<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Панель управления</title>
    <link rel="stylesheet" href="/build/css/fa5/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<noscript>
    <strong>Для работы сайта нужен Javascripts, включите его.</strong>
</noscript>
<div id="app" class="body-wrap"></div>
{% include 'webpack.twig' %}
</body>
</html>