.header-content {
  display: grid;
  grid-template-areas: "h-logo h-link h-search h-icon";
  grid-gap: $margin-default;
}

.logo {
  grid-area: h-logo;
}

.header-link {
  grid-area: h-link;
}

.header-search-block {
  grid-area: h-search;
}

.header-icon-block {
  grid-area: h-icon;
}