@font-face {
  font-family: 'Open Sans';
  src: url('../../../public/build/fonts/OpenSans-Regular.woff2') format('woff2'), url('../../../public/build/fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}
@font-face {
  font-family: 'Open Sans';
  src: url('../../../public/build/fonts/OpenSans-Italic.woff2') format('woff2'), url('../../../public/build/fonts/OpenSans-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../../../public/build/fonts/OpenSans-Bold.woff2') format('woff2'), url('../../../public/build/fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body{
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color:$color-text-default;
  font-smooth: antialiased;
}