//color
$color-text-default: rgb(0, 0, 0); //#000000
$white: rgb(255, 255, 255);///#FFFFFF
$red: rgb(255, 30, 0); //#FF1E00
$green: rgb(60, 171, 61);//#3CAB3D
$green-dark: rgb(30, 133, 59);//#1E853B
$grey: rgb(79, 79, 79);//#4F4F4F
$grey-middle: rgb(131, 131, 131); //#838383
$grey-light: rgb(173, 173, 173);//#ADADAD
$brown: rgb(103, 84, 40); //#675428
//$brown-light: rgb(237, 212, 182); //#EDD4B6
$brown-light: rgb(246, 202, 105); //#f6ca69



//others
$font-size-small:.75em;
$font-size-medium:1.25rem;
$font-size-big:4rem;
$margin-default:1em;
$padding-default:.5em;
$border-radius:4px;
