button, .btn {
  display: grid;
  grid-auto-flow: column;
  grid-gap:.5rem;
  align-content: center;
  justify-content: center;
  color: $white;
  fill:$white;
  @extend .padding-button;
  background: $grey-middle;
  border: 1px solid $grey-middle;
  outline: none;
  //text-transform: uppercase;
  transition: .25s;
}

button:hover, .btn:hover {
  cursor: pointer;
  background: $grey;
  border: 1px solid $grey;
}

.btn-icon{

}
.btn-text{

}


.btn_green{
  background: $green;
  border: 1px solid $green;
}
.btn_green:hover{
  background: $green-dark;
  border: 1px solid $green-dark;
}
.btn_green-invert{
  background: $white;
  color:$green;
  fill:$green;
  border: 1px solid $green;
}
.btn_green-invert:hover{
  background: $green;
  color:$white;
  fill:$white;
  border: 1px solid $green;
}

.btn_as-text, .btn_as-text:hover{
  background: none;
  border:none;
  color:$grey;
}
.btn_as-text:hover{
  text-decoration: underline;
}


//кнопка корзины в каталоге
.btn_cart{
  fill:$white;
  background: #f6ca69;
  border: 1px solid #f6ca69;
}
.btn_cart:hover{
  background: #f6ca69;
  border: 1px solid #f6ca69;
}
.btn_cart-added{
  background: $white;
  border: 1px solid $white;
  color:#f6ca69;
  fill:#f6ca69;
}
.btn_cart-added:hover{
  background: $white;
  border: 1px solid #f6ca69;
}
  // .btn_cart-added{
//  background: $white;
//  border: 1px solid $white;
//  color:$green-dark;
//  fill:$green-dark;
//}
//.btn_cart-added:hover{
//  background: $white;
//  border: 1px solid $green-dark;
//}

//кнопка закладки в каталоге

.btn_compare{
  fill:$white;
  color:$white;
  background: $grey-middle;
  border: 1px solid $grey-middle;
}
.btn_compare:hover{
  cursor: pointer;
  fill:$white;
  color:$white;
  background: $grey;
  border: 1px solid $grey;
}

.btn_compare-added{
  fill:$grey;
  color:$grey;
  background: $white;
  border: 1px solid $white;
}
.btn_compare-added:hover{
  fill:$grey;
  color:$grey;
  background: $white;
  border: 1px solid $grey;
}

//корзина
.btn_white{
  background: $white;
  color:$grey;
  fill:$grey;
  border:1px solid $grey;
}
.btn_white:hover{
  color:$white;
}