a, .link{
  cursor:pointer;
  color:$grey;
  text-decoration: underline;
}

a:hover, .link:hover{
  text-decoration: none;
  color:$grey;
}

.link_bf{
  color:$white;
  text-decoration: none;
}

.link_bf:hover{
  color: $yellow;
}