.product-card {
  position:relative;
  display:grid;
  grid-gap:.5rem;
  justify-content:center;
}

.pc-name {
  padding:.5rem 2.5rem;
}

.pc-image-main {}

.pc-price-wrap {
  justify-self: end;
}

.pc-buttons {
  display:grid;
  grid-auto-flow:column;
  grid-gap:.5rem;
  align-self:end;
}

.pc-price {
  font-weight:600;

}

.pc-price-old {
  text-decoration:line-through;
  color:rgb(173, 173, 173);
  margin-top: -.5rem;
}