.product-card {
  position: relative;
  display: grid;
  grid-gap: .5rem;
  justify-content: center;
  padding: $padding-default;

  //grid-template-areas: "product-card-image"
  //"product-card-name"
  //"product-card-desc"
  //"product-card-price"
  //"product-card-button";
   grid-template-areas: "product-card-name"
                        "product-card-image"
                        "product-card-price"
                        "product-card-button";
}

a.product-card {
  color: $grey;
  text-decoration: none;
}

.product-card:hover {
  box-shadow: 0 0 5px $grey-light;

}

.pc-name {
  grid-area: product-card-name;
  text-align: center;
}

.pc-image-main {
  grid-area: product-card-image;
  display: block;
  width: 100%;
}
.pc-description{
  display: none;
  grid-area: product-card-desc;
}
.pc-price-wrap {
  grid-area: product-card-price;
  justify-self: end;
  align-self: end;
}

.pc-buttons {
  grid-area: product-card-button;
  display: grid;
  grid-auto-flow: column;
  grid-gap: .5rem;
  align-self: end;
}

.pc-price {
  font-weight: 600;

}

.pc-price-old {
  text-decoration: line-through;
  color: rgb(173, 173, 173);
  margin-top: -.5rem;
}
