<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>[[ title ]]</title>
    <!-- begin favicon -->
    <link rel="shortcut icon" href="/build/favicon/favicon.ico" type="image/ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/build/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/build/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/build/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/build/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/build/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/build/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/build/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/build/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/build/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/build/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/build/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/build/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/build/favicon/favicon-16x16.png">
    <link rel="manifest" href="/build/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#EB5757">
    <meta name="msapplication-TileImage" content="/build/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#EB5757">
    <!-- end favicon -->
    {% include 'webpackStyle.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>
<noscript>
    <strong>Для работы сайта нужен Javascripts, включите его.</strong>
</noscript>
<div id="app">
<header class="page-header">

</header>
<div class="body-wrap">

